/* container */
$widthContainer: 478px;
$paddingContainer: 24px;

/* base typography */
$baseFont: -apple-system, BlinkMacSystemFont, sans-serif;
$baseWeight: 400;

/* colors */
$linkColor: #000; /* base color for <a> */